<div class="footer">
  <div class="col-md-6">
    <%= image_tag 'menu/tedlogo.png', :id => 'footerlogo'%>
  </div>
  <div class="col-md-6">
    <div class="footer-icons">
      <a href="https://www.facebook.com/TEDxTainan" target="_blank"><i class="fa fa-facebook" id="footer-fb"></i></a>
      <a href="https://www.instagram.com/tedxtainan/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>
